<div class="jumbotron container">
<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image11.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image9.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image10.jpg" alt="Third slide">
    </mdb-carousel-item>
    
  </mdb-carousel>
  </div>
  <hr/>
  <app-card-view style="position: relative;"></app-card-view>